@page
@model IndexModel
@{
    ViewData["Title"] = "Coconut Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านCoconut Smoothieน้ำปั่นหวานเย็นชื่นใจที่อร่อยสุดบนดาวยูนิคอร์น</p>
    <img src="/images/logo.png" width=" 30%"/>
</div>
